<ActionBar title="{{ title }}"></ActionBar> 
<ScrollView>
	<StackLayout>
		<StackLayout>
			<Label text="Connection State: {{connectionState}}"></Label>
			<Button *ngIf="connectionState == 'connected'"
			(tap)="onDisconnect()" 
			text="Disconnect from Pusher" class="btn btn-primary"></Button>
			<Button *ngIf="connectionState == 'disconnected'"
			(tap)="onConnect()" 
			text="Connect to Pusher" class="btn btn-primary"></Button>				
		</StackLayout>
		<Button (tap)="onTap($event)" text="Take Photo" class="btn btn-primary"></Button>
		<Image src="~/assets/images/logo.png" width="50" height="50"></Image>
		<!-- <Image #fingerImage width="250" height="250"></Image> -->
		<StackLayout>
			<Label text="{{ newMessage$ | async }}"></Label>
			<Label text="Logs" textWrap="true"></Label>
			<Button (tap)="onClearLogs()" text="Clear" class="btn btn-primary"></Button>
			<nts-messages *ngIf="newMessage$ | async" [messages]="logMessages"></nts-messages>
		</StackLayout>
		<nts-example></nts-example>
		<Label text="{{ description }}" textWrap="true"></Label>
		<HtmlVIew [html]="htmlString"></HtmlVIew>
		<TextField hint="Enter text"></TextField>				
		<StackLayout *ngFor="let country of countries">
			<Label  text="{{ country.name }}" textWrap="true"></Label>
		</StackLayout>
	</StackLayout>
</ScrollView>
