// core theme ios/android variables here...

// Our apps custom variables

// colors
$light: #efefef;
$gray: #6d6d6d;
$active: #2d94e3;

// text sizes
$font_xs: 12;
$font_sm: 14;
$font_md: 16;
$font_lg: 18;
$font_xl: 20;